// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

.dropzone {
  border: 4px dashed #f8f9fa;
  &__hover {
    background-color: #f8f9fa;
    border-color: #d8dadb;
  }
  &__error {
    background-color: #faa;
    border-color: #f00;
  }
  &__drop {
    background-color: #afa;
    border-color: #0f0;
  }
  &__progress-bar {
    width: 150px;
    height: 15px;
    background-color: #fff;
    position: relative;
    z-index: 1000;
    &-color {
      position: absolute;
      z-index: 1100;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #0f0;
    }
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-photo {
  width: 15%;
  border-radius: 50%;
}

// Material
.material {
  &__author {
    position: relative;
    z-index: 1000;
  }
  &__author img {
    border-radius: 50%;
  }
  &__user-mark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3rem;
    right: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    z-index: 1200;
  }
  &__rate {
    background-color: #ddd;
  }
  &__rate-positive {
    height: 3px;
  }
}


